<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->

    <%= stylesheet_link_tag theme_asset_path("css/main.css") %>
    <%= javascript_include_tag theme_asset_path("js/main.js") %>
    <%= raw the_head %>
</head>
<body>

<!-- container -->
<div class="container">
    <!-- header -->
    <%= render "layouts/header" %>
    <!-- ./header -->
    

    <!-- webpack all import -->
    <%= javascript_pack_tag 'application' %>
    <!-- ./webpack all import -->

    <%= javascript_pack_tag 'hello_react' %>


    <!-- module import -->
    <%= render file: "#{Rails.root}/app/javascript/counter/counter.html.erb"%>
    <%= javascript_pack_tag 'counter' %>
    <%= stylesheet_pack_tag 'counter' %>
    <!-- ./module import -->
    


    <div class="content">
        <%= yield %>
    </div>

    <!-- footer -->
    <%= render "layouts/footer" %>
    <!-- ./footer -->
</div>
<!-- ./container -->
</body>
</html>
