<!-- This page is viewed on admin->settings->site settings->tab theme -->
<!-- You can add your custom html contents here, but don't forget to save the values with hook on_theme_settings -->

<div class="form-group">
    <%= label_tag "Admin email" %>
    <%= text_field_tag 'theme_option[admin_email]', current_theme.get_option('admin_email'), class: 'form-control' %>
</div>

<div class="form-group">
    <%= label_tag "Secondary email" %>
    <%= text_field_tag 'theme_option[secondary_email]', current_theme.get_option('secondary_email'), class: 'form-control' %>
</div>
