<div class=”counter-wrapper”>
    <h1>Counter Module</h1>
    <form class="counter">
        <button id="increment">Increment</button>
        <input id="counter" type=”number” name=”counter” value="0" />
        <button id="decrement">Decrement</button>
    </form>
</div>
