$grey: #f2f2f2

.counter-wrapper
  max-width: 500px
  margin: 100px auto
  padding: 10px
  border: 1px solid $grey

  form
    margin-bottom: 10px

#counter
#increment,
#decrement
  padding: 5px 10px
  margin-bottom: 10px
  display: inline-block